@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
    --main-text-color: rgb(112,115,128);
    --about-color: rgb(164,27,228);
    --hackathon-color: rgb(252,37,126);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    /* height: calc(var(--vh, 1vh) * 100); */
}
.mobile{
    display: none;
}
/* Nav: Start */

.dsclogo{
    position: relative;
    width: 80%;
    margin-top: 30px;
    margin-left: 2.8vw;
}
nav{
    position: fixed;
    height: 100vh;
    width: 15vw;
}
.nav-inner{
    position: relative;
    margin: 18vh 0 auto 2.8vw;
    display: grid;
    grid-template-rows: repeat(9, auto);
    height: 60vh;
}
.nav-inner > div > a{
    color: var(--main-text-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 900;
}

/* Nav: End */

.main{
    position: relative;
    height: 300vh;
    margin-left: 15vw;
}

/* One: Start */
.one{
    position: relative;
    height: 100vh;
}
.women-techies-logo{
    position: absolute;
    margin: 23vh 0 0 100px;
    width: 25vw;
    min-width: 250px;
}
.women-img{
    position: absolute;
    width: 40vw;
    bottom: -20px;
    right: 20px;
}
.top{
    position: absolute;
    clip-path: polygon(90% 0, 100% 0, 100% 15%);
    background-color: rgb(255, 167, 87);
    z-index: 10;
    right: 0;
    height: 100%;
    width: 100%;
}
.middle{
    position: absolute;
    clip-path: polygon(85% 0, 100% 0, 100% 22%);
    background-color: rgb(255, 197, 145);
    z-index: 9;
    right: 0;
    height: 100%;
    width: 100%;
}
.bottom{
    position: absolute;
    clip-path: polygon(80% 0, 100% 0, 100% 30%);
    background-color: rgb(255, 221, 190);
    z-index: 8;
    right: 0;
    height: 100%;
    width: 100%;
}

/* One: End */

.rest{
    position: relative;
    height: 200vh;
}
.rest > div{
    position: relative;
    height: 100vh;
}

/* Two: Start */

.two{
    position: relative;
    height: 100%;
    color: var(--about-color);
}
.content-two{
    position: relative;
    margin: 0 0 0 5vw;
    top: 30%;
    transform: translate(0,-50%);
}
.content-two > p{
    color: var(--main-text-color);
    width: 80%;
}
.text-img{
    position: absolute;
    overflow: hidden;
    height: fit-content;
}
.text-img > span{
    position: absolute;
    top: calc(50% - 40px);
}
.text-img > p{
    position: absolute;
    top: 50%;
    float: left;
    color: var(--main-text-color);
    width: 50%;
}
.text-img > img{
    position: relative;
    overflow: hidden;
    left: 50%;
    width: 53%;
}
.header{
    font-size: 1.9rem;
    font-weight: 900;
}
/* Two: Start */

/* Three: Start*/

.logo-topright{
    position: absolute;
    top: 30px;
    right: 50px;
    width: 8vw;
}
.content-three{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.women-look{
    position: relative;
    float: left;
    width: 40%;
}
.text-3{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.text-3 > p:nth-child(1){
    color: var(--hackathon-color);
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 2rem;
}
.text-3 > p{
    margin-bottom: 40px;
    font-size: 1.3rem;
}
.text-3 > button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--hackathon-color);
    color: white;
    font-weight: bolder;
    width: 22%;
    height: 16%;
}


/* Three: End */





@media(max-width: 992px){
    nav:nth-child(1){
        display: none;
    }
    .mobile{
        display: block;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 60px;
        z-index: 12;
        background-color: white;
    }
    .main{
        margin-left: 0;
        margin-top: 60px;
        height: calc(200vh - 60px);
    }
    /* Nav-Mobile: Start */

    .dsclogo-mobile{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 40vw;
        z-index: 10;
    }
    .ham{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        height: 50px;
        width: 50px;
        background: white;
        z-index: 100;
    }
    .line1, .line2{
        position: absolute;
        left: 50%;
        width: 30px;
        height: 2px;
        background-color: black;
        transform: translateX(-50%);
        transition: ease 0.2s;
    }
    .line1{
        top: 20px;
    }
    .line2{
        top: 30px;
    }
    .nav-items{
        position: fixed;
        padding-top: 80px;
        background: rgba(255, 255, 255, 0.856);
        height: calc(100vh);
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(11, auto);
        align-items: center;
        justify-items: center;
        clip-path: circle(10px at 99.7% -10%);
        -webkit-clip-path: circle(10px at 90.7% 3.5%);
        transition: ease-out 1s;
    }
    .nav-items > div > a{
        color: var(--main-text-color);
        text-decoration: none;
        cursor: pointer;
        font-weight: 700;
    }
    .open{
        clip-path: circle(1000px at 90.7% 3.5%);
        -webkit-clip-path: circle(1000px at 90.7% 3.5%);
    }
    .merge{
        top: 25px;
    }
    /* Nav-Mobile: End */

    /* One-Mobile: Start */

    .one{
        position: relative;
        height: calc(100vh - 60px);
    }
    .women-techies-logo{
        position: absolute;
        margin: 0;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 0;
        width: 60vw;
    }
    .top{
        clip-path: polygon(90% 0, 100% 0, 100% 5%);
    }
    .middle{
        clip-path: polygon(80% 0, 100% 0, 100% 10%);
    }
    .bottom{
        clip-path: polygon(70% 0, 100% 0, 100% 15%);
    }
    .women-img{
        width: 100%;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* One-Mobile: End */


    .rest{
        height: 100vh;
    }
    .rest > div{
        height: calc(100vh);
    }


    /* Two-Mobile: Start */
    .two{
        position: relative;
        
    }
    .content-two{
        position: absolute;
        margin-top: 60px;
        height: fit-content;
        top: 0;
        transform: none;
        margin: 60px 5vw 0 5vw;
    }
    .header{
        display: block;
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .content-two > p{
        width: 100%;
        margin-bottom: 20px;
    }
    .text-img{
        position: relative;
        overflow: auto;
        height: auto;
    }
    .text-img > span{
        position: relative;
        top: auto;
    }
    .text-img > p{
        position: relative;
        top: auto;
        width: 100%;
        color: var(--main-text-color);
    }
    .text-img > img{
        position: relative;
        overflow: hidden;
        left: 0;
        width: 100%;
    }

    /*Two-Mobile: End */

    /*Three-Mobile: Start */

    .women-look{
        display: none;
    }
    .content-three{
        position: relative;
        top: inherit;
        margin: 60px 5vw 0 5vw;
        transform: none;
        height: fit-content;
    }
    .logo-topright{
        display: none;
    }
    .text-3{
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
    }
    .text-3 > button{
        width: 50%;
        height: 12%;
        font-size: 1.1rem;
    }
    /*Three-Mobile: End */

}

