<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/landing.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src="../assets/dsc-logo.svg" alt="" class="dsclogo">
        <div class="nav-inner">
            <a href="#one">Home</a>
            <a href="#two">About DSC</a>
            <a href="#three">Hackathon</a>
            <a href="#four">Our Vision</a>
            <a href="#five">Timeline</a>
            <a href="#six">Speakers</a>
            <a href="#seven">Sponsors</a>
            <a href="#eight">Contact Us</a>
            <a>FAQs and Docs</a>
        </div>
    </nav>
    <div class="mobile">
        <img src="../assets/dsc-logo.svg" alt="" class="dsclogo-mobile">
        <div class="ham">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="nav-items">
            <a href="#one">Home</a>
            <a href="#two">About DSC</a>
            <a href="#three">Hackathon</a>
            <a href="#four">Our Vision</a>
            <a href="#five">Timeline</a>
            <a href="#six">Speakers</a>
            <a href="#seven">Sponsors</a>
            <a href="#eight">Contact Us</a>
            <a>FAQs and Docs</a>
        </div>
    </div>
    <div class="main">
        <div class="one" id="one">
            <div class="content-one">
                <div class="topright">
                    <div class="top"></div>
                    <div class="middle"></div>
                    <div class="bottom"></div>
                </div>
                <img src="../assets/logo-orange-b.png" alt="" class="women-techies-logo">
                <div class="img-overflow-1">
                    <img src="../assets/women.png" alt="" class="women-img">
                </div>
            </div>
        </div>

        <div class="two" id="two">
            <div class="content-two">
                <span class="header">About DSC</span>
                <p>
                    DSC VIT powered by Google Developers is a student community at VIT Vellore. We strive to
                    bring about technological innovations among students and we do so by providing a
                    platform for them to exhibit their talents. We are a group of passionate designers, developers
                    and managers who work together to bring about collaborative results which better the lives
                    of everyone around us.
                </p>
                <div class="text-img">
                    <p>
                        <span class="header">About VIT</span>
                        Vellore Institute of Technology, Vellore VIT, Vellore
                        is one of the top-rated engineering colleges in
                        India. Diversity is the strongest aspect of the
                        institute and the students from various states
                        and nations, the key to its reputation. The
                        university works on ideas and executes tasks of
                        different domains under Clubs and Chapters.
                    </p>

                    <div class="img-overflow">
                        <img src="../assets/vit-orange.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="three" id="three">
            <img src="../assets/logo-orange-b.png" alt="" class="logo-topright">
            <div class="content-three">
                <img src="../assets/women-look.png" alt="" class="women-look" width="100px">
                <div class="text-3">
                    <p class="heading-three">Hackathon</p>
                    <p>
                        The 24-hour hackathon aims to bring out the best developers to put their skills and
                        creativity against the clock to come up with a solution for a real-world problem. There is a
                        minimum requirement of 50% female participation in each team, to ensure and promote women’s
                        participation in tech and tech-related events.
                        <br>
                        Don’t know how to code? Or Don’t know how to implement a certain idea? No worries, our
                        experts will be there every step of the way to mentor and guide you as you build your
                        product, your participation is what that matters
                    </p>
                    <button>Register</button>
                </div>
            </div>
        </div>
        <div class="four" id="four">
            <img src="../assets/logo-orange-b.png" alt="" class="logo-topright">
            <div class="content-four">
                <div class="grid-four">
                    <p> <span>Our Vision</span>
                        We have been organising Women Techies for the past 2 years with a goal to encourage and
                        facilitate the participation of women in the tech space. Succeeding in tech is no easy task,
                        but, by providing women with opportunities and platforms to exhibit their skills, we hope to put
                        them right at the top of the leaderboard. Knowing that our efforts benefit so many talented
                        women and being able to see the satisfaction on our participant’s faces makes all of us
                        extremely proud in the work that we do.
                    </p>
                    <div class="img-overflow">
                        <img src="../assets/violet-man-woman.png" alt="" class="violet-man-woman">
                    </div>
                </div>
            </div>
        </div>
        <div class="five" id="five">
            <img src="../assets/logo-orange-b.png" alt="" class="logo-topright">
            <div class="content-five">
                <h1>Timeline</h1>
            </div>
        </div>
        <div class="six" id="six">
            <img src="../assets/logo-orange-b.png" alt="" class="logo-topright">
            <div class="content-six">
                <h1>Speakers</h1>
                <div class="grid-six">
                    <div class="ele">
                        <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg" alt="">
                        <h2>Name</h2>
                        <p>Occupation</p>
                    </div>
                    <div class="ele">
                        <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg" alt="">
                        <h2>Name</h2>
                        <p>Occupation</p>
                    </div>
                    <div class="ele">
                        <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg" alt="">
                        <h2>Name</h2>
                        <p>Occupation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="seven" id="seven">
            <img src="../assets/logo-orange-b.png" alt="" class="logo-topright">
            <div class="content-seven">
                <div class="grid-whole">
                    <h1>Sponsors</h1>
                    <div></div>
                    <div class="grid-seven">
                        <div class="ele-seven">
                            <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg"
                                alt="">
                        </div>
                        <div class="ele-seven">
                            <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg"
                                alt="">
                        </div>
                        <div class="ele-seven">
                            <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg"
                                alt="">
                        </div>
                        <div class="ele-seven">
                            <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg"
                                alt="">
                        </div>
                        <div class="ele-seven">
                            <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg"
                                alt="">
                        </div>
                        <div class="ele-seven">
                            <img src="https://pbs.twimg.com/profile_images/971907981829988352/t77v6802_400x400.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="buttons-seven">
                        <button>Sponsor Us</button>
                        <button>Download Brochure</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight" id="eight">
            <img src="../assets/logo-orange-b.png" alt="" class="logo-topright">
            <div class="content-eight">
                <h1>Contact Us</h1>
                <div class="contactus">
                    <div class="club">
                        <p>Angad Sharma</p>
                        <p>(Chapter Head)</p>
                        <div style="position: relative;">
                            <img src="../assets/mail.svg" alt="">
                            <p>okay@gmail.com</p s>
                        </div>
                        <div style="position: relative;">
                            <img src="../assets/mail.svg" alt="">
                            <p>okay@gmail.com</p s>
                        </div>
                    </div>
                    <div class="management">
                        <p>Angad Sharma</p>
                        <p>(Chapter Head)</p>
                        <div style="position: relative;">
                            <img src="../assets/mail.svg" alt="">
                            <p>okay@gmail.com</p s>
                        </div>
                        <div style="position: relative;">
                            <img src="../assets/mail.svg" alt="">
                            <p>okay@gmail.com</p s>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div style="position: relative;">
                        <img src="../assets/mail.svg" alt="">
                        <p>okay@gmail.com</p s>
                    </div>
                    <div style="position: relative;">
                        <img src="../assets/mail.svg" alt="">
                        <p>okay@gmail.com</p s>
                    </div>
                    <div style="position: relative;">
                        <img src="../assets/mail.svg" alt="">
                        <p>okay@gmail.com</p s>
                    </div>
                    <div style="position: relative;">
                        <img src="../assets/mail.svg" alt="">
                        <p>okay@gmail.com</p s>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
    <script src="../js/landing.js"></script>
    <script>
        if (window.innerWidth < 850) {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        }
        window.addEventListener("resize", () => {
            if (window.innerWidth > 850) {
                let vh = window.innerHeight * 0.01;
                document.documentElement.style.setProperty('--vh', `${vh}px`);
            }
        })
    </script>
</body>

</html>